<div class="row">
  <ngx-datatable
  class='material ngx-datatable fixed-header'
  [rows]="rows"
  [columns]="cols"
  [columnMode]="'standard'"
  [headerHeight]="50"
  [footerHeight]="70"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  [messages]="page.messages"
  (page)='setPage($event)' >
    <ng-template #addDelTmpl let-row="row" let-value="value">
      <button *ngIf="value.exists === true; else falsyTemplate" type="button" class="btn btn-danger" (click)="remove(value.id)">Usuń</button>
      <ng-template #falsyTemplate>
        <button  type="button" class="btn btn-info" (click)="addParameters(value.id)">Dodaj</button>
      </ng-template>
    </ng-template>
    <ng-template #indexTmpl let-value="value" width="1" let-rowIndex="rowIndex">
        {{rowIndex + 1}}
    </ng-template>
    <ngx-datatable-footer>
      <ng-template
        let-curPage="curPage"
        let-offset="offset"
        let-pageSize="pageSize"
        let-rowCount="rowCount"
        let-selected="selected"
        ngx-datatable-footer-template>
        <div class="container">
          <div class="row">
            <div class="col-md-12  col-lg-12 col-sm-12">
              <datatable-pager class=" pull-right "
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="((rowCount / pageSize) === 0)"
              (change)="handlePageChange($event)">
              </datatable-pager>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  col-lg-12 col-sm-12">
              <div class="pull-right"> {{rowCount}} elementów</div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
