<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Zarządzanie salami
  </a>
</p>



<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <ng-container  *ngFor="let colName of dataTable; let i = index">
            <th scope="col">{{colName}}</th>

          </ng-container>

          <th scope="col">Edytuj</th>
          <th scope="col">Usuń</th>
        </tr>
      </thead>
      <tbody>

          <ng-container  *ngFor="let row of tableRows; let i = index">
            <tr [ngClass] = "[rowActive === i+1 ? 'active': '']">
              <th scope="row">{{i + 1}} </th>
              <ng-container *ngFor=" let rowValues of row | values; let j = index">
                <td>{{rowValues}}</td>
              </ng-container>
              <td>
                <button type="button" class="btn btn-primary" (click)="edit(row)">Edytuj</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="remove(row.id)">Usuń</button>
              </td>
            </tr>
          </ng-container>
          <tr>
          <th scope="row"></th>
          <ng-container  *ngFor="let colName of dataTable; let i = index">
            <td>
              <input type="text" class="form-control" [(ngModel)]="dataTableValues[i]"  placeholder="{{colName}}">
            </td>
          </ng-container>

          <td></td>
          <td>
            <button type="button" (click)="add()"class="btn btn-success">{{addButtonName}}</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
