<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Konfiguracja</h3>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <a class="pull-right" href="/main">Generuj plan</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-table-component [tableTypeName]="'Room'">Loading..</app-table-component>
    </div>
    <div class="col-md-6">
      <app-table-component [tableTypeName]="'Subject'">Loading..</app-table-component>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-table-component [tableTypeName]="'HoursLecture'">Loading..</app-table-component>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table-component [tableTypeName]="'Course'">Loading..</app-table-component>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table-component [tableTypeName]="'Group'">Loading..</app-table-component>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table-component [tableTypeName]="'Teacher'">Loading..</app-table-component>
    </div>
  </div>
</div>
